<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edmund Clarke</h1>
    <img src="/public/images/Edmund_Clarke_FLoC_2006.jpg" alt="">
    <p>Edmund Melson Clarke, Jr. (July 27, 1945 – December 22, 2020) was an American computer scientist and academic noted for developing model checking, a method for formally verifying hardware and software designs. He was the FORE Systems Professor of Computer Science Emeritus at Carnegie Mellon University. Clarke, along with E. Allen Emerson and Joseph Sifakis, was a recipient of the 2007 Association for Computing Machinery A.M. Turing Award.</p>
    
</body>
</html>